{% extends 'base.html' %}
{% block title %}
로그인
{% endblock %}

{% block content %}
	{% if error %}
		<p> {{error}} </p>
	{% endif %}
	
	<form action="" method="POST">
		{% csrf_token %}
		<!-- 로그인 후 이동할 페이지 주소 -->
		<input type="hidden" name="nexturl" value="{{nexturl}}">
		<table>
			{{ f.as_table }}
		</table>
		<input type="submit" value="로그인" >
	</form>
	<a href="{% url 'login:signup' %}">회원가입</a>
	<br>
	<a href="{% url 'social:begin' 'google-plus' %}">Google로 로그인 하기</a>
{% endblock %}







